.beauty{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 71.75%, rgba(255, 255, 255, 0) 97%);
    &__container{
        padding-top:160px ;
        min-height: 600px;
        @media (max-width:768px) {
            padding-top:40px ;
         }
         @media (max-width:506px) {
            padding-top:20px ;
         }
    }
    &__row{
       
        display: flex;
        gap:4%;
        @media (max-width:768px) {
            flex-direction: column;
        }
        
    }
    &__body{
        flex: 0 1 430px;
       // border:1px solid blue;
        & >*{
            margin-bottom: 23px;
        }
        @media (max-width:768px) {
           flex:auto;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 40px;
        line-height: calc(50px/ 40* 100%);
        color: #555555;
        span{
            color: #EE9591;
        }
    }
    &__items{
        flex: 0 1 740px;
        min-height: 346px;
       // border:1px solid red;
       background: url('../img/cercle.png')  right no-repeat;
       
     
        @media (max-width:768px) {
            flex:auto;
         }
    }
}
.items-beauty{
    &__row{
        display: flex;
        gap: 3.22%;
        
        @media (max-width:506px) {
            flex-direction: column;
         }
    }
    &__item{
        position: relative;
        width: 50%;
        min-height: 270px;
        background: linear-gradient(117.78deg, #F9A8A5 34.55%, #E28A86 79.96%);
        box-shadow: -40px 40px 50px rgba(85, 85, 85, 0.14);
        border: 8px solid #F7F7F7;
        box-sizing: border-box;
        
        border-radius: 20px;
        padding: 34px 40px 28px 40px;
       
        @media (max-width:506px) {
            width: 100%;
            margin-bottom: 20px;
         }
    }
    & >*{
        margin-bottom: 10px;
    }
    &__img{
        position: absolute;
        right: 5px;
        top:10px;
    }
    &__number{
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        color: #FFFFFF;
        
    }
    &__text{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
    }

    &__footer{
        font-size: 10px;
        line-height: 18px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
        opacity: 0.4;
        
    }
}